h1 {
  border-bottom: 1px solid black;
}

body {
  counter-reset: h2;
}
h2 {
  counter-increment: h2;
  counter-reset: h3;
}
h2:before {
  content: counter(h2) ". ";
}
h3 {
  counter-increment: h3;
  counter-reset: h4;
  margin-left: 15px;
}
h3:before {
  content: counter(h2) "." counter(h3) ". ";
}
h4 {
  counter-increment: h4;
  margin-left: 30px;
}
h4:before {
  content: counter(h2) "." counter(h3) "." counter(h4) ". ";
}